body {
    background: #030f1e;
    display: flex;
    justify-content: center;
}

#wrapper {
    width: 100%;
    max-width: 800px;
    margin: 40px;
}

.container {
    background: #fff;
    padding: 20px;
}
.container, .navbar {
    padding: 20px;
}
.navbar {
    background-color: #370617;
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.navbar a {
    color: #fff;
    text-decoration: none;
}