body {
    background: #030f1e;
    display: flex;
    justify-content: center;
}

#wrapper {
    width: 100%;
    max-width: 800px;
    margin: 40px;
}

.container {
    background: #fff;
    padding: 20px;
}